body {
    margin: 0px;
    padding: 0px;
}

.head_bg {
    background-image: url(img/head_bg/Photo-Overlay.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    height: auto;
}

.container .logo img{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 7%;
    margin-top: 5%;
    width: 8%;
}

.head_slogan {
    width: 35%;
    height: 10%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 1%;
}

.head_slogan span {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    font-size: 3vw;
    color: white;
}

.head_slogan span::before {
    content: '';
    top: 22%;
    left: 2%;
    width: 32%;
    height: 3.6%;
    background-color: rgb(205, 179, 120);
    position: absolute;
}

.head_slogan span::after {
    content: '';
    top: 22%;
    right: 2%;
    width: 32%;
    height: 3.6%;
    background-color: rgb(205, 179, 120);
    position: absolute;
}

.head_slogan p {
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-size: 1.75vw;
    color: white;
}

.head_autor {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 14.5%;
}

.head_autor span {
    color: #cdb378;
    font-family: 'Amiri', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5vw;
}

.head_scroll_down {
    margin: 0 auto;
    width: 10%;
    height: 3%;
    text-align: center;
}

.head_scroll_down a {
    text-decoration: none;
}

.head_scroll_down span {
    color: #cdb378;
    font-family: 'Amiri', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1vw;
    display: block;
}

.head_scroll_down img {
    width: 12%;
    height: 10.2%;
    margin-bottom: 32%;
}


/************************************************************/
.foot_bg {
    background-image: url(img/foot_bg/foot_bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.tjob {
    color: aqua;
    width: 70.5%;
    height: 7.3%;
}

.tjob span {
    display: block;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-size: 3.6vw;
    color: white;
    margin-top: 5%;
    margin-left: 15%;
}

.tjob p {
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
    margin-left: 15%;
    color: #cdb378;
    font-family: 'Amiri', serif;
    font-weight: 200;
}

.fly_b {
    width: 29.5%;
    height: 12%;
    margin-top: -1.5%;
}

.fly_b img{
    width: 100%;
}

.zoq {
    width: 86.4%;
    height: 9.4%;
    margin-top: -12.5%;
    background-image: url(img/foot_bg/zoq.jpg);
    background-repeat: no-repeat;
    outline: 3px solid red;
}

.zoq span {
    display: block;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-size: 3.6vw;
    color: #cdb378;
    margin-left: 12.5%;
    margin-top: 5%;
}

.zoq p {
    margin: 0;
    padding: 0;
    font-size: 2vw;
    /*font-size: 1.2vw;*/
    color: #b4ba98;
    font-family: 'Amiri', serif;
    font-weight: 200;
    outline: 1px solid red;
    margin-left: 12.5%;
}

/*
.zoq a{
    display: block;
    position: absolute;
    left: 12%;
    bottom: 18%;
    text-decoration: none;
    width: 13%;
    height: 11.6%;
    border: 2px solid #404429;
    text-align: center;
    color: white;
    line-height: 41px;
    font-size: 1vw;
    font-family: 'Myriad Pro', serif;
    font-weight: bold;
}
*/

.bottle {
    position: absolute;
    top: 8%;
    width: 11.6%;
    height: 17.4%;
    right: 23%;
}

.bottle img {
    width: 100%;
}
/************************************************************/

/*@media (max-width: 320px){
    .logo img {
        margin-top: 10px;
    }
}

@media (min-width: 321px) and (max-width: 480px){
    .logo img {
        margin-top: 12px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .logo img {
        margin-top: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .logo img {
        margin-top: 30px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .logo img {
        margin-top: 50px;
    }
}

@media (min-width: 1281px) and (max-width: 1366px){
    .logo img {
        margin-top: 60px;
    }
}

@media (min-width: 1367px) and (max-width: 1920px){
    .logo img {
        margin-top: 60px;
    }
}
*/
/**/

